<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login page</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}" />
	</head>
    <body>
        <h1>登录页</h1>
        <p th:if="${loginError}" class="error">Wrong user or password</p>
        <form th:action="@{/login}" method="post">
            <div class="field">
                <label>Username</label>
                <div class="ui left icon input">
                    <input type="text" placeholder="Username" name="username">
                    <i class="user icon"></i>
                </div>
            </div>
            <div class="field">
                <label>Password</label>
                <div class="ui left icon input">
                    <input type="password" name="password">
                    <i class="lock icon"></i>
                </div>
            </div>
            <input type="checkbox" name="remember"> 记住我
            <input type="submit" class="ui blue submit button"/>
        </form>
    </body>
</html>
